<!DOCTYPE html>
<html>

<head>
  <script data-require="jquery@*" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <script src="app/gameController.js"></script>
  <script src="app/buildingService.js"></script>
  <script src="app/buildingListController.js"></script>
  <script src="app/statService.js"></script>
</head>

<body>
  <div ng-app="gameApp" ng-controller="GameController" class="flex-grid">
    <div class="section-title">
      Idle Park
    </div>
    <div class="section-left">
      <div class="section-left-top">
        <!--Ticks: {{ticksTotal}} <br />-->
        <span class="cash">${{(money/100).toFixed(2)}}</span><br />
        Lifetime visitors: {{visitorsTotal.toFixed(0)}}<br />
        {{getDateTime()}}

      </div>
      <div class="section-left-bottom">
        Visitors/hour: {{visitorRate.toFixed(0)}} (Max: {{visitorRateCap.toFixed(0)}})<br />
        Income/visitor: ${{(incomePerVisitor/100).toFixed(2)}}<br />
      </div>
    </div>
    <div class="section-center">
      <tabset active="activeTab">
        <tab index="0" heading="Attractions"></tab>
        <tab index="1" heading="Politics"></tab>
        <tab index="2" heading="Energy"></tab>
      </tabset>
      <br />
      <div class="buildingList" ng-controller="buildingListController">
          <div class="buildingButtonContainer" ng-repeat="building in buildings">
            <button type='button' class='btn btn-primary' ng-click="onClickBuilding(building.index)">{{building.name}} ${{(building.nextCost/100).toFixed(2)}} {{building.count}}</button>
            <br />
          </div>
      </div>
      <div class="upgradeList">
      </div>
    </div>
    <div class="section-right">
      <div class="section-right-top">
      </div>
      <div class="section-right-center">
        
      </div>
      <div class="section-right-bottom">
        
      </div>
    </div>
    
    
  </div>
</body>

</html>