<!DOCTYPE html>
<html>

<head>
  <script data-require="jquery@*" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="style.css" />
  <script src="app/gameController.js"></script>
  <script src="app/buildingService.js"></script>
  <script src="app/buildingListController.js"></script>
</head>

<body>
  <div ng-app="gameApp" ng-controller="GameController">
    <div class="section-left">
      <div class="section-left-top">
        Idle Park <br />
        Ticks: {{ticksTotal}} <br />
        Cash: ${{(money/100).toFixed(2)}}<br />
        Lifetime visitors: {{visitorsTotal.toFixed(0)}}<br />
        Visitors/hour: {{visitorRate.toFixed(0)}} (Max: {{visitorRateCap.toFixed(0)}})<br />
        Income/visitor: ${{(incomePerVisitor/100).toFixed(2)}}<br />

      </div>
      <div class="section-left-bottom">
        
      </div>
    </div>
    <div class="section-center">
      <div class="buildingList" ng-controller="buildingListController">
          <div class="buildingButtonContainer" ng-repeat="building in buildings">
            <button type='button' class='btn btn-primary btn-lg' ng-click="onClickBuilding(building.index)">{{building.name}} ${{(building.baseCost/100).toFixed(2)}} {{building.count}}</button> <br />
            <br />
          </div>
      </div>
    </div>
    <div class="section-right">
      <div class="section-right-top">
      </div>
      <div class="section-right-center">
        
      </div>
      <div class="section-right-bottom">
        
      </div>
    </div>
    
    
  </div>
</body>

</html>