<!DOCTYPE html>
<html>

<head>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <script src="app/statModel.js"></script>
  <script src="app/workerModel.js"></script>
  <script src="app/gameController.js"></script>
  <script src="app/actionService.js"></script>
  <script src="app/actionListController.js"></script>
  <script src="app/buildingService.js"></script>
  <script src="app/buildingListController.js"></script>
  <script src="app/techService.js"></script>
  <script src="app/techListController.js"></script>
  <script src="app/statService.js"></script>
  <script src="app/workerService.js"></script>
  <script src="app/workerListController.js"></script>
</head>

<body>
  <div ng-app="gameApp" ng-controller="GameController" class="flex-grid">
    <div class="section-title">
      Idle Park
    </div>
    <div class="section-left">
      <div class="section-left-top">
        <!--Ticks: {{ticksTotal}} <br />-->
        <div class="happiness">&#x2764;{{Math.floor(stats.happiness)}}</div>
        <div class="rate">({{stats.happinessRate.toFixed(2)}}/hr)</div><br />
        <div class="cash">${{(stats.money/100).toFixed(2)}}</div>
        <div class="rate">({{(stats.moneyRate/100).toFixed(2)}}/hr)</div><br />
        <div class="visitors">&#x263A;{{Math.floor(stats.idleVisitors)}}/{{stats.parkCapacity.toFixed(0)}}</div>
        <div class="rate">({{stats.idleVisitorsRate.toFixed(2)}}/hr){{stats.nighttime?'(Night)':''}}</div><br /><br />
        Lifetime visitors: {{stats.lifetimeVisitors.toFixed(0)}}<br />
        {{getDateTime()}} {{stats.nighttime?'(Night)':'(Day)'}}

      </div>
      <div class="section-left-bottom">
        Idle Visitors: {{stats.idleVisitors.toFixed(0)}} (Max: {{stats.parkCapacity.toFixed(0)}})<br />
        <span ng-if="stats.idleVisitors/stats.parkCapacity > stats.crowdThreshold">Your park is too small!</span>
        <br />
        {{(stats.usedTerritory/100).toFixed(2)}}/{{(stats.totalTerritory/100).toFixed(2)}} Acres<br />
        <br />
        Influence: {{(stats.influence).toFixed(0)}}<br />
        Influence/hr: {{stats.influenceRate.toFixed(2)}}
      </div>
    </div>
    <div class="section-center">
      <div class="actionList" ng-controller="actionListController">
        <div class="actionButtonContainer" ng-repeat="action in actions" ng-if="isActionVisible(action.index)">
          <button type='button' class='btn' ng-class="canAffordAction(action.index)?'btn-primary':'btn-disabled'" 
                  ng-click="onClickAction(action.index)">{{action.name}}</button>
        </div>
      </div>
      <hr />
      <div class="buildingList" ng-controller="buildingListController">
        <div class="buildingButtonContainer" ng-repeat="building in buildings" ng-if="isBuildingVisible(building.index)">
          <button type='button' class='btn' uib-popover-template="'app/buildingTooltipTemplate.html'" popover-trigger="'mouseenter'" popover-placement="auto bottom" ng-class="canAffordBuilding(building.index)?'btn-primary':'btn-disabled'" 
                  ng-click="onClickBuilding(building.index)">{{building.name}} | ${{(building.nextCost/100).toFixed(2)}} {{building.count}}</button>
        </div>
      </div>
      <hr />
      <div class="upgradeList" ng-controller="techListController">
        <div class="techButtonContainer" ng-repeat="tech in techs" ng-if="isTechVisible(tech.index)">
          <button type='button' class='btn' ng-class="isTechLocked(tech.index)?'btn-info':(canAffordTech(tech.index)?'btn-primary':'btn-disabled')"
                  ng-click="onClickTech(tech.index)">{{isTechLocked(tech.index)?'Visitors: '+tech.visitorRequirement:tech.name}} | ${{(tech.cost/100).toFixed(2)}}</button>
          <br />
        </div>

      </div>
    </div>
    <div class="section-right">
      <div class="section-right-top">
          <div class="workerList" ng-controller="workerListController">
              Idle workers: {{workerModel.freeWorkers}}/{{workerModel.totalWorkers}}
              <br/><br/>
              <div class="jobContainer" ng-repeat="job in workerModel.jobs" ng-if="isJobVisible(job.index)">
                <a ng-click="freeWorker(job.index)">&ndash;</a> {{job.name}}: {{job.workerCount}} <a ng-click="assignWorker(job.index)">+</a>
              </div>
            </div>
      </div>
      <div class="section-right-center">
        
      </div>
      <div class="section-right-bottom">
        
      </div>
    </div>
    
    
  </div>
</body>

</html>